@import './dialog.scss';
@import './table.scss';
@import './flex.scss';
@import './tabs.scss';
@import './form.scss';
@import './tree.scss';

.g-radio-group{
  margin: 0 15px 15px;
}

// 统计样式
.g-statistics-bg{
  position: fixed;
  bottom: 0;
  left: 75px;
  z-index: 2000;
  align-items: center;
  width: 100%;
  background: #fff;
  padding: 15px;
  // box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  .g-statistics-tag{
    color: #B3AFAF;
  }
  .g-statistics-num{
    color: #262626;
    font-size: 18px;
  }
}

// 列表状态圆点
.g-statusDot{
  font-size: 10px;
  margin-right: 10px;
}

// this.$alert 弹窗提示数字字母强制换行
.el-message-box__message {
  word-break: break-word;
}
