.el-drawer__header {
  margin-bottom: 0px !important;
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #3d4050;
  opacity: 1;
  padding: 28px 0 0 16px;
}
.el-drawer__close-btn{
  margin-right:20px
}