
// #app .sidebar-container .el-menu>div{
//     height: 60px;
//     margin-bottom: 21px;
// }
// #app .hideSidebar .el-submenu .svg-icon-box, #app .hideSidebar .el-menu-item .svg-icon-box{
//     height: 28px;
//     width: 28px;
// }
// // #app .hideSidebar .el-menu--collapse{
// //     padding-top: 36px;
// // }
// #app .hideSidebar .el-submenu .label, #app .hideSidebar .el-menu-item .label{
//     margin-top: -5px;
// }
.collapsed-image{
    margin: 26px 20px 30px 20px;
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}
