#app {

  .main-container {
    height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
    background: rgba(242, 245, 248, 1);
    overflow: auto;
  }

  .sidebar-container {
    -webkit-transition: width .28s;
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    // 70: headerHeight
    height: calc(100% - 70px);
    position: fixed;
    font-size: 0px;
    // 70: headerHeight
    top: 70px;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    // -webkit-box-shadow: 2px 0 6px rgba(0,21,41,.05);
    // box-shadow: 2px 0 6px rgba(0,21,41,.05);

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    .el-menu-item, .el-submenu__title {
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: rgba(0, 0, 0, 0.06) !important;
      }
    }

    & .theme-dark .is-active > .el-submenu__title {
      color: $subMenuActiveText !important;
    }

    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;

      &:hover {
        background-color: rgba(0, 0, 0, 0.06) !important;
      }
    }

    & .theme-dark .nest-menu .el-submenu>.el-submenu__title,
    & .theme-dark .el-submenu .el-menu-item {
      background-color: $subMenuBg !important;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }

  // 菜单折叠
  .hideSidebar {
    .sidebar-container {
      width: 72px !important;
    }

    .main-container {
      margin-left: 72px;
    }

    .el-menu--collapse{
      padding-top: 20px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
      }
    }

    .el-submenu, .el-menu-item{
      overflow: hidden;
      height: 85px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;
      transition: all 0.3s;

      .svg-icon-box{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: transparent;
        box-shadow: none;
        transition: all 0.3s;
      }

      .svg-icon {
        margin: 0;
        color: #9FA2B5;
        font-size: 24px;
      }

      .label{
        line-height: 24px;
        font-size: 12px;
        font-family: PingFang SC;
        font-weight: 400;
        color: #9FA2B5;
      }

      .el-submenu__icon-arrow {
        display: none;
      }

      &>.el-submenu__title {
        width: 100%;
        height: 100%;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:hover{
          background: transparent !important;
        }
      }

      // &.is-active{
      //   >.el-submenu__title{
      //     .svg-icon-box{
      //       color: #262626;
      //       background: linear-gradient(180deg, #409EFF 0%, #006ED5 100%);
      //       box-shadow: 0px 3px 6px rgba(118, 189, 255, 0.55);
      //       transition: all 0.3s;
      //     }
      //     .svg-icon {
      //       color: #fff;
      //     }
      //     .label{
      //       color: #262626;
      //     }
      //   }
      // }

      &.is-opened{
        transition: all 0.3s;
        background: transparent !important;
        >.el-submenu__title{
          background: #F2F7FC;
          .svg-icon {
            color: #409EFF;
          }
          .label{
            color: #409EFF;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  left: 72px !important;
  &>.el-menu {
    padding: 0;
    margin: 0 !important;
    min-width: 160px !important;
    background: #F2F7FC !important;
    box-shadow: 5px 0px 16px rgba(145, 147, 148, 0.31) !important;
    >.nest-menu{
      >.el-submenu{
        >.el-submenu__title{
          height: 44px;
          line-height: 44px;
          background: transparent !important;
          >.svg-icon-box{
            display: none;
          }
          >.label{
            font-size: 14px;
            font-family: PingFang SC;
            font-weight: bold;
            line-height: 20px;
            color: #717171;
          }
          >.el-submenu__icon-arrow{
            display: none;
          }
          &:hover{
            background: transparent !important;
          }
        }
      }
      &:first-child{
        padding-top: 20px;
      }
      &:last-child{
        padding-bottom: 20px;
      }
    }
    .el-menu-item{
      height: 44px;
      line-height: 44px;
      position: relative;
      background: transparent !important;
      transition: all 0.2s;
      &::before{
        content: '';
        width: 2px;
        height: 2px;
        border-radius: 2px;
        background: #717171;
        position: absolute;
        left: 20px;
        top: 50%;
        transition: all 0.2s;
      }
      &::after{
        content: '';
        width: 3px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: #409EFF;
        opacity: 0;
        transition: all 0.2s;
      }
      .svg-icon-box {
        display: none !important;
      }
      .label{
        font-size: 14px;
        color: #717171;
        padding-left: 12px;
        transition: all 0.2s;
      }
      &:hover{
        transition: all 0.2s;
        background: rgba(215, 234, 253, 0.5) !important;
        .label{
          color: #409EFF;
          transition: all 0.2s;
        }
        &::before{
          background: #409EFF;
          transition: all 0.2s;
        }
        &::after{
          opacity: 0.9;
          transition: all 0.2s;
        }
      }
      &.is-active{
        transition: all 0.2s;
        background: #D7EAFD !important;
        .label{
          font-weight: bold;
          color: #409EFF;
          transition: all 0.2s;
        }
        &::before{
          background: #409EFF;
          transition: all 0.2s;
        }
        &::after{
          opacity: 1;
          transition: all 0.2s;
        }
      }
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: rgba(0, 0, 0, 0.06) !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
