.g-color-error{
  color: #F56C6C;
}
.g-color-gray{
  color: #909399;
}
.g-color-light-gray{
  color: #D9D9D9;
}
.g-color-blue{
  color: #409EFF;
}
.g-color-success{
  color: #67C23A;
}
.g-color-warning{
  color: #FFBB00;
}
.g-color-title{
  color: #262626;
}
.g-color-tag{
  color: #9FA2B5;
}
.g-color-bigtitle{
  color: #CDCDCD;
}
.g-color-purple{
  color:  #DC92F2;
}
.g-color-require{
  color: #ff4949;
}
