.dispatch-base-contents-box {
  padding-left: 40px;
}
.dispatch-base-contents-big {
  padding-left: 40px !important;
}
.dispatch-contents-box {
  padding-left: 40px;
  padding-right: 20px;
  font-size: 16px;
  margin: 10px 0;
}

.dispatch-title-item {
  height: 20px;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: bold;
  line-height: 24px;
  color: #262626;
  opacity: 1;
  margin: 16px 0;
}
.start_address {
  padding-left: 25px;
  background: url("../images/detail/start_address.png") no-repeat;
  background-size: 20px 20px;
}
.end_address {
  padding-left: 25px;
  background: url("../images/detail/end_address.png") no-repeat;
  background-size: 20px 20px;
}
.dispatch-info-content {
  min-height: 100px;
  width: 100%;
  background: #F2F2F2;
  border-radius: 10px;
  padding: 20px 20px;
}
.dispatch-order-content {
  padding: 20px;
}
.dispatch-order-info {
  width: 1250px;
}
.dispatch-base-label {
  font-size: 14px;
  color: #adb5bd;
  margin-right: 5px;
  /* margin-bottom: 16px; */
  display: inline-block;
  /* float: right; */
  text-align: right;
}
.dispatch-base-text {
  width: 135px;
  height: 20px;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  line-height: 22px;
  color: #3d4050;
  opacity: 1;
}
.dispatch-base-confrim {
  text-align: center;
}
.dispatch-bg-upload {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;

}
.dispatch-bg-upload img {
  width: 58px;
  height: 58px;
}
//身份证正
.dispatch-id_front {
  background: url("../images/certificate/id_front.png") no-repeat;
  background-position: center;
}
//身份证背
.dispatch-id_back {
  background: url("../images/certificate/id_back.png") no-repeat;
  background-position: center;
}
//驾驶证
.dispatch-driving_front {
  background: url("../images/certificate/driving_front.png") no-repeat;
  background-position: center;
}
//行驶证正面
.dispatch-travel_front {
  background: url("../images/certificate/travel_front.png") no-repeat;
  background-position: center;
}
//行驶证背面
.dispatch-travel_back {
  background: url("../images/certificate/travel_back.png") no-repeat;
  background-position: center;
}
//道路运输证
.dispatch-load {
  background: url("../images/certificate/load.png") no-repeat;
  background-position: center;
}


