.dispatch-base-contents-box {
  padding-left: 20px;
}
.dispatch-contents-box{
    padding-left: 20px;
    font-size: 16px;
    margin: 20px 0;
}
.dispatch-title-item {
  font-size: 18px;
  font-weight: 700;
  margin: 10px;
}
.dispatch-info-content {
  min-height:100px;
  width: 100%;
  background: rgba(176, 224, 230, 0.5);
  border-radius: 10px;
  padding: 20px 20px;
}
.dispatch-order-content {
  padding: 20px;
}
.dispatch-order-info {
  width: 1250px;
}
.dispatch-base-label {
  font-size: 14px;
  color: #606266;
  margin-right: 20px;
}
.dispatch-base-text {
}
