.pages-info {
  display: flex;
  height: 100%;
  font-family: PingFang SC;

  .pages-info-left {
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    border-right: 1px solid #f2f2f2;
    // box-shadow: 0px 2px 3px 0px rgba(51, 153, 255, 0.1);
    border-bottom-left-radius: 4px;
    width: 220px !important;
    border-top-left-radius: 0;
    .el-tree > .el-tree-node {
      width: 100% !important;
    }
    .el-tree-node__content > span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .pages-info-right {
    flex: 1 !important;
    overflow: hidden;
    width: 0;
    padding: 20px 0;
    // padding-right: 0;
    background: #fff;
    box-shadow: 0px 2px 3px 0px rgba(51, 153, 255, 0.1);
    border-bottom-right-radius: 4px;
    // height: calc(100vh - 146px);
    box-sizing: border-box !important;
    .pages-info-right-top {
      padding-bottom: 8px;
    }
    .divier {
      height: 1px;
      border-bottom: 1px solid #e4ecf4;
    }
    .page-table-layout-set {
      padding: 28px 24px 0 24px;
    }
    .toolsbar {
      display: flex;
      flex-direction: row;
      margin-bottom: 17px;
    }
  }
}
// 没有组织树
.none-org-tree {
  .pages-info-right {
    border-bottom-left-radius: 4px;
  }
}

.ddc-queryParams {
  display: flex;
  padding: 0 28px;
  .ddc-queryParams-left {
    flex: 1;
    .down {
      margin-bottom: 16px;
    }
    // background: brown;
  }
  .ddc-queryParams-right {
    width: 310px;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 16px;
    display: flex;
    justify-content: flex-end;
    & > div {
      cursor: pointer;
      color: #409eff;
      font-size: 14px;
      margin-right: 12px;
      line-height: 30px;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }
    &-reset {
      background-color: transparent !important;
    }
    &-reset:hover {
      background-color: #409eff !important;
    }
    &-reset:focus,
    &-reset:active {
      background-color: transparent !important;
      color: #1890ff;
    }
  }
}
